// @import 'vendor/reset';
@import 'blocks/vars';
@import 'mixins';
// @import "./vendor/animate";
@import '../../../node_modules/swiper/swiper-bundle.min';
@import '../../../node_modules/accordion-js/dist/accordion.min';


@import 'fonts';
@import 'settings';


html,
body {
  height: 100%;
  scroll-behavior: smooth;
  color: #fff !important;
  font-weight: 400 !important;
  font-style: normal;
  font-family: Montserrat !important;
  margin: 0 !important;
}

@media (max-width: 879px) {
  body {
    overflow: visible !important;
  }
}

.wpcf7 form .wpcf7-response-output {
  color: black;
  font-size: 15px;
}


.main {
  height: 100%;
  flex: 1 0 auto;
}

/* Работает в Chrome, Edge и Safari */
// *::-webkit-scrollbar {
//     width: 3px;
//   }

//   *::-webkit-scrollbar-track {
//     background: rgba(20, 16, 36, 0.08);
//     border-radius: 40px;
//   }

//   *::-webkit-scrollbar-thumb {
//     background-color: #141024;
//     border-radius: 40px;
//     // border: 3px solid orange;
//   }
// =============scrollbar=============

._lock {
  overflow: hidden;
}

// ======blocks=========

@import 'blocks/container';
@import 'blocks/about';
@import 'blocks/page';
@import 'blocks/header';
@import 'blocks/hero';
@import 'blocks/whyme';
@import 'blocks/transfer';
@import 'blocks/footer';
@import 'blocks/autopark';
@import 'blocks/knowledge';
@import 'blocks/work';
@import 'blocks/company';
@import 'blocks/video';
@import 'blocks/examples';
@import 'blocks/traly';
@import 'blocks/questions';
@import 'blocks/quiz';
@import 'blocks/modal';