.examples {
    padding-top: 90px;

    @include mobile{
        padding-top: 60px;
    }
}

.examples__inner {}

.examples__inner__title {
    padding-bottom: 80px;

    @include mobile{
        padding-bottom: 60px;
    }
}

.swiper__examples {
    padding: 0 50px 50px !important;

    @include maps{
        padding: 0 0 50px !important;
    }

    @include mobile{
        & .swiper-pagination{
            display: none;
        }
    }
}

.examples__swiper__wrapper{
    align-items: stretch;
}

.examples__swiper__slide {
    height: auto !important;
    border-radius: 30px;
    background: #FFF;
    /* Shadow */
    box-shadow: 0px 32px 34px 0px rgba(0, 0, 0, 0.13);
    overflow: hidden;

    @include for-desktop{
        border-radius: 0;
    }
}


.swiper__examples__img {
    width: 100%;
    margin-bottom: 40px;
    height: 190px;

    @include burger-header{
        height: auto;
    }
}

.swiper__examples__title {
    display: block;
    color: var(--Black, #1B1C1E);
    font-size: 25px;
    font-weight: 700;
    line-height: 36px;
    /* 144% */
    letter-spacing: 0.603px;
    margin-bottom: 20px;
    padding: 0 20px;
    text-align: center;
}

.swiper__examples__price {
    display: block;
    color: #382C61;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 25.5px;
    /* 127.5% */
    letter-spacing: 0.1px;
    margin-bottom: 20px;
    padding: 0 20px;
}

.swiper__examples__desc,
.swiper__examples__desc p {
    display: block;
    color: #5A5A5A;
    text-align: center;
    font-size: 18px;
    line-height: 27px;
    /* 150% */
    letter-spacing: 0.1px;
    padding: 0 20px;
    margin-bottom: 30px;
}

.swiper-pagination {}

.swiper-button-prev {}

.swiper-button-next {}