.your-map-container {
    width: 100%;
    height: 540px;
}

.footer__top {
    position: relative;
    margin-bottom: 100px;

    @include small-tablet {
        margin-bottom: 0;
    }
}

.footer__top__info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20%;
    z-index: 10;

    border-radius: 30px;
    background: #FFF;
    /* Shadow */
    box-shadow: 0px 32px 34px 0px rgba(0, 0, 0, 0.13);
    padding: 30px 40px;

    @include small-tablet {
        position: static;
        transform: none;
        margin-bottom: -20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @include mobile {
        padding: 30px 15px;
    }
}

.footer__top__info__logo {
    display: none;

    @include small-tablet {
        display: block;
    }
}

.footer__top__info__title {
    color: #000;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 5px;
}

.footer__top__info__data {
    color: #000;
    font-size: 15px;
    font-style: normal;
    line-height: 107.333%;

    @include small-tablet {
        margin: 10px 0;
    }

    @include mobile {
        text-align: center;
    }
}

.footer__top__info__tel {
    display: block;
    color: #2B6AB0 !important;
    font-size: 30px;
    font-weight: 700;
    line-height: 16.867px;
    /* 56.222% */
    padding: 20px 0;
    transition: color 0.2s linear;

    &:hover{
        color: lighten($color: #2B6AB0, $amount: 10) !important;
    }
}

.footer__top__info__mail {
    display: block;
    color: #2B6AB0 !important;
    font-size: 20px;
    line-height: 16.867px;
    /* 84.333% */
    transition: color 0.2s linear;

    &:hover{
        color: lighten($color: #2B6AB0, $amount: 10) !important;
    }
}

.footer__bottom {
    background: var(--Black, #1B1C1E);
    padding: 100px 0;

    @include small-tablet{
        padding: 60px 0;
    }
}

.footer__bottom__inner {
    display: grid;
    grid-template-columns: 100px 1fr 450px;
    column-gap: 50px;

    @include tablet {
        grid-template-columns: repeat(2, 1fr);
    }

    @include small-tablet {
        display: block;
    }

    &__link {
        @include tablet {
            display: none;
        }
    }
}

.footer__bottom__inner__nav {
    @include small-tablet {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


.footer__bottom__inner__nav li {
    color: #BBBCBE;
    margin-bottom: 20px;

    &>a {
        font-size: 20px;
        font-weight: 500;
        line-height: 28.9px;
        /* 144.5% */
        border-bottom: 1px solid transparent;
        transition: border 0.3s linear;

        &:hover {
            border-color: #BBBCBE;
        }
        @include small-mobile {
            font-size: 15px;
        }

    }
    
    &:last-child {
        margin-bottom: 0;
    }

    @include small-mobile {
    text-align: center;
}
}

.footer__bottom__inner__info {
    @include small-tablet {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.footer__bottom__inner__info__text {
    display: block;
    margin: 0;
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 14px;
    /* 93.333% */
    text-transform: uppercase;
}

.footer__bottom__inner__info__tel {
    display: block;
    width: 100%;
    max-width: 285px;
    color: var(--Orange, #F3A832);
    font-size: 30px;
    font-weight: 700;
    line-height: 30.6px;
    /* 102% */
    padding-bottom: 40px;
    border-bottom: 1px solid #7F7D7D;
    white-space: nowrap;

    &+.footer__bottom__inner__info__text {
        margin-top: 40px;

        @include mobile{
            margin-top: 20px;
        }
    }
}

.footer__bottom__inner__info__mail {
    display: block;
    color: var(--Orange, #F3A832);
    font-size: 20px;
    font-weight: 500;
    line-height: 30.6px;
    /* 153% */
}

.footer__bottom__inner__info__copyright {
    display: block;
    color: #7F7D7D;
    font-size: 14px;
    line-height: 23.8px;
    /* 170% */
    margin-top: 50px;

    @include mobile{
        margin-top: 20px;
    }
}