.traly {
    padding-top: 90px;

    @include mobile{
        padding-top: 60px;
    }
}

.traly__inner__title {
    padding-bottom: 30px;
}

.traly__inner__subtitle {
    display: block;
    max-width: 840px;
    margin: 0 auto;
    padding-bottom: 80px;
    color: var(--Black, #1B1C1E);
    text-align: center;
    font-size: 34px;
    line-height: 129.412%;

    @include small-tablet{
        font-size: 27px;
    }
    @include mobile{
        font-size: 20px;
    }
}

.swiper__traly {
    padding: 0 50px 50px !important;

    @include for-desktop{
        padding: 0 0 50px !important;
    }
}

.swiper-slide__traly {
    border-radius: 30px;
    background: #FFF;
    overflow: hidden;
    /* Shadow */
    box-shadow: 0px 32px 34px 0px rgba(0, 0, 0, 0.13);
    padding-bottom: 48px;
}

.swiper__traly__image {
    width: 100%;
    margin-bottom: 40px;
}

.swiper__slide__text {
    display: block;
    padding: 0 20px 10px;
    color: var(--Black, #1B1C1E);
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    /* 150% */
    letter-spacing: 0.1px;
    margin: 0;
}

.red {
    padding-bottom: 0;
    color: #F00;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    /* 120% */
    letter-spacing: 0.1px;
}

.traly__inner__button{
    display: block;
    padding: 21px 62px;
    margin: 90px auto;

    @include small-tablet{
        margin: 60px auto;
    }
}