.video{
    padding: 90px 0 60px;
    background: var(--Black, #1B1C1E);

    @include mobile{
        padding:  60px 0;
    }
}

.video__inner__title{
    color: #FFF;
    padding-bottom: 80px;
    
        @include mobile{
            padding-bottom: 60px;
        }
}
.swiper__video{
    padding: 0 50px 40px !important;

    @include for-desktop{
        padding: 0 0 40px !important;
    }

    iframe{
        min-height: 390px;
    }
}

.swiper__video__name{
    display: block;
    text-align: center;
    font-size: 15px;
    line-height: 1.4;
    margin-top: 20px;
}
.video--pagination{
    & .swiper-pagination-bullet-active{
        background: transparent !important;
    }
}