<footer class="footer">
    <div class="footer__top">
        <div id="map" class="map" style="width: 100%; height: 540px;"></div>
        <div class="footer__top__info">
            <img src="./assets/images/logotip/Fajl_1.svg" alt="logo" class="footer__top__info__logo" width="100" height="100">
            <span class="footer__top__info__title">Реквизиты и контакты</span>
            <p class="footer__top__info__data">ООО "ГРУППА КОМПАНИЙ "СПЕЦТРАНС"</p>
            <p class="footer__top__info__data">ИНН 6314042940</p>
            <p class="footer__top__info__data">г. Самара, ул. Садовая, дом 86, 3 этаж, офис 7</p>
            <a href="tel:+79608081388" class="footer__top__info__tel">+7 (960) 808-13-88</a>
            <a href="mailto:info@spectrans-rus.ru" class="footer__top__info__mail">info@spectrans-rus.ru</a>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <div class="footer__bottom__inner">
                <a href="https://перевозки-негабарит.рф/" class="footer__bottom__inner__link">
                    <img src="./assets/images/logotip/logoFigma.svg" alt="logo" class="footer__inner__top__logo" width="100"
                        height="100">
                </a>
                <ul class="list-reset footer__bottom__inner__nav">
                    <li><a href="">Главная</a></li>
                    <li><a href="">Автомобильные грузоперевозки</a></li>
                    <li><a href="">Негабаритные перевозки</a></li>
                    <li><a href="">Международные перевозки</a></li>
                    <li><a href="">Погрузочно-разгрузочные работы</a></li>
                    <li><a href="">Контакты</a></li>
                </ul>
                <div class="footer__bottom__inner__info">
                    <p class="footer__bottom__inner__info__text">Позвоните нам</p>
                    <a href="+79608081388" class="footer__bottom__inner__info__tel">+7 (960) 808-13-88</a>
                    <p class="footer__bottom__inner__info__text">Напишите нам</p>
                    <a class="footer__bottom__inner__info__mail" href="maito:info@spectrans-rus.ru">info@spectrans-rus.ru</a>
                    <p class="footer__bottom__inner__info__copyright">© 2023 СПЕЦТРАНС</p>
                </div>
            </div>
        </div>
    </div>
</footer>